@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
table {
    width: 100%;
    height: 100%;
    border: 3px;
    color: black;
    border: 1px solid red;
}

th {
    color: rgb(240, 240, 240);
    background-color: rgba(105, 105, 105);
    border: 1px solid black;
}

td {
    background-color: rgba(255, 255, 255);
    border: 1px solid black;
}

.general-sub {
    margin-bottom: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #000000;
}

form {
    margin: 20px;
}

html,
body {
    height: 90%;
}

.nav-link,
.navbar-brand {
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.navbar,
.navbar-light{
    color: white;
    background-color: rgba(105, 105, 105);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: black;
}
