@import url('https://fonts.googleapis.com/css?family=Roboto|Exo');
html {
    height: 100%;
}

.background {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    width: 100%;
    height: 100%;
    border: 3px;
    color: black;
    border: 1px solid red;
}

th {
    color: rgb(240, 240, 240);
    background-color: rgba(105, 105, 105);
    border: 1px solid black;
}

td {
    background-color: rgba(255, 255, 255);
    border: 1px solid black;
}

form {
    margin: 20px;
}

h1 {
    font-size: 25px;
}

h2,
h3 {
    font-size: 20px;
}

.general-sub {
    margin-bottom: 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: bold;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-link,
.navbar-brand {
    color: black;
    text-decoration: none;
}

.bg-light {
    background-color: rgba(105, 105, 105, 0.5) !important;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.9);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(min-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2,
    h3 {
        font-size: 25px;
    }
}
