{% extends 'base.html' %}
{% block content %}
    {% if question != False %}
    <h3 class="black-text">{{ question }}</h3>
    <form method="POST">
        <label class="black-text" for="answer">Answer:</label>
        <input type="text" id="answer" name="answer" required>
        <button>Submit</button>
    </form>
    {% else %}
    <h3 class="black-text">No more riddle</h3>
    <p class="black-text">Your score: {{ points }}</p>
    {% endif %}
    {% if answer %}
    <h3 class="black-text">Wrong answer: {{ answer }}</h3>
    {% endif %}
{% endblock %}