{% extends 'base.html' %}
{% block signout %}
{% if username %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<!--If the template is called with 'question' then it appears on the page-->
{% if question != False %}
<h2 class="general-sub">{{ question }}</h2>
<form method="POST">
        <label class="general-sub" for="answer">Answer:</label>
        <input class="input_line" type="text" id="answer" name="answer" required><br>
        <button class="btn btn-dark btn-sm" type="submit" name="submit_button">Submit</button>
</form>
<!--If the template is called without 'question' then 'points' and a button to 'Leaderboard' appear-->
{% elif points %}
<h2 class="general-sub">Your score: {{ points }}</h2>
<form action="{{ url_for('leaderboard') }}">
    <button type="submit" class="btn btn-dark btn-sm">LEADERBOARD</button>
</form>
{% endif %}
<!--If the template is called with 'answer' then it appears as a "Wrong answer"-->
{% if answer %}
<h3 class="general-sub">Wrong answer: {{ answer }}</h3>
{% endif %} {% endblock %}
