{% extends 'base.html' %} {% block content %}
<div class="container center">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto black-text">
      <h3>Choose a username and start the game</h3>
      <form method="POST">
        <label class="black-text" for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button>Start</button>
      </form>
    </div>
  </div>
</div>
{% if exist %}
<h4 class="black-text">Username already exists. Please choose another one!</h4>
{% endif %} {% endblock %}
