{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Choose a username and start the game</h2>
      <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button>Start</button>
      </form>
    </div>
  </div>
</div>
{% if exist %}
<h3>Username already exists. Please choose another one!</h3>
{% endif %} {% endblock %}
