{% extends 'base.html' %} {% block content %}
<h1 class="general-sub leaderboard">Leaderboard</h1>
<!--If 'Leaderboard' is called with 'users' arguments, then it appears in a table-->
{% if users %}
<table>
    <tr>
        <th>Player</th>
        <th>Points</th>
    </tr>
    {% for user in users %} {% if loop.index %2 != 0 %}
    <tr>
        <td>{{ user }}</td>
        {% else %}
        <td>{{ user }}</td>
    </tr>
    {% endif %} {% endfor %}
</table>
<!--If 'Leaderboard' is called without 'users' arguments, everything below this, appear-->
{% else %}
<h2 class="general-sub">Nobody has played with this amazing game.</h2>
<p class="general-sub">You can be the first one!</p>
<a href="{{ url_for('index') }}"><button>Play Now</button></a> {% endif %} {% endblock %}
